{
  "rules": {
    // prefers to use custom logger instead of console
    "no-console": "error"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": ["./server/tsconfig.json"]
      }
    }
  }
}
